p {
  font-family: Lato;
}
/* .q-tree .ul{
      padding-inline-start: 40px;
  background-color: red;
} */

/* li.q-row.q-connector.q-transition.q-rule {
  display: flex;
    flex-direction: row;

} */